.header__logo {
  width: 176px;
  height: 52px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

@media screen and (max-width: 450px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
