.content__places {
  grid-column: 2 / 3;
}

@media screen and (max-width: 1150px) {
  .content__places {
    grid-column: 1 / 4;
  }
}

@media screen and (max-width: 1024px) {
  .content__places {
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 700px) {
  .content__places {
    grid-column: 1 / 4;
  }
}
