.cover__title {
  margin: 0 0 2rem;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 600px) {
  .cover__title {
    margin-bottom: 1rem;
    max-width: 288px;
    font-size: 32px;
    line-height: 1.1;
  }
}
