.place {
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  gap: 3rem 2.5rem;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 1.75rem;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: 1rem 1fr 1rem;
    gap: 2rem 0;
  }
}
