.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 740px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
